/* body {
    background: rgb(186, 186, 251);
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
}

header {
    text-align: center;
    font-size: 20pt;
    margin: 0 60vmin;
}

#board {
    margin: 30px 55vmin;
    position: absolute;
}

#reset {
    background-color: grey;
    color: rgb(122, 4, 4);
    height: 50px;
    width: 120px;
    position: absolute;
    justify-content: center;
    margin: -20vmin 65vmin;
} */


 body {
    display: grid;
   /* grid-template-columns: 10% [col-start] 20% [col-start] 60% [col-start]; */
   grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    grid-gap: 5px;
    font-family: Helvetica;
  }

  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    background-color: aquamarine;
    grid-column: span 3;
  }

  aside1, aside2 {
    display: flex;
    flex-direction: column;
    background-color: #a2b4da;
    height: 40%;
  }
  main {
    background-color: #f3dba8;
    table-layout: fixed;
    width: 40%;
    height: 40%;
    justify-content: start;
  }
  
  button {
    background-color: #a2cbb6;
  }

  #reset {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }
  
  #reset:hover {
    background-color: grey;
    color: white;
  }

  .freeSpace, .bomb {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.clicked {
    background-color: rgb(156, 156, 159);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.blowup {
    background-color: rgb(239, 15, 15);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    
}
