body {
    background: rgb(186, 186, 251);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    font-size: 20pt;
}

#board {
    margin: 0px 48vmin;
    position: relative;
}

#reset {
    background-color: grey;
    color: rgb(122, 4, 4);
    height: 50px;
    width: 120px;
    position: absolute;
    justify-content: center;
    margin: 35vmin 30vmin;
}

.freeSpace, .bomb {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.clicked {
    background-color: rgb(192, 192, 195);
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.blowup {
    background-color: rgb(239, 15, 15);
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    
}

#score {
    height: 100px;
    width: 50px;
    position: absolute;
    color: red;
}

#mines_num {
    color: black;
}

#spaces_num {
    color: black;
}